<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <app-items></app-items>

  <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Items</ion-card-subtitle>
        <ion-card-title>Add a new item</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Title: </ion-label>
          <ion-input required minlength="2" ngModel name="title" #title="ngModel" id="title"></ion-input>
          <ion-label  *ngIf="title.touched && !title.valid" color="danger">
            <div *ngIf="title.errors.required">A title is required</div>
            <div *ngIf="title.errors.minlength">3 characters or more</div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Price: </ion-label>
          <ion-input required ngModel type="number" name="price" #price="ngModel" id="price"></ion-input>
          <ion-label *ngIf="title.touched && !title.valid" color="danger">
            <div *ngIf="title.errors.required">A number is required</div>
          </ion-label>
        </ion-item>
        <ion-button expand="full" color="primary" slot="start" [disabled]="title.invalid || price.invalid" (click)="newContent(title.value, price.value)">Add to list</ion-button>
      </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>ToDo</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let todos of todo | async">
      <h1>{{todos | json}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Lists</ion-card-subtitle>
      <ion-card-title>Add a new Todo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Title: </ion-label>
        <ion-input required minlength="2" ngModel name="todotitle" #todotitle="ngModel" id="todotitle"></ion-input>
        <ion-label  *ngIf="todotitle.touched && !todotitle.valid" color="danger">
          <div *ngIf="todotitle.errors.required">A title is required</div>
          <div *ngIf="todotitle.errors.minlength">3 characters or more</div>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Description: </ion-label>
        <ion-input ngModel name="tododescription" #description="ngModel" id="tododescription" #tododescription="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Price: </ion-label>
        <ion-input ngModel id="todoprice" name="todoprice" class="form-control" #todoprice="ngModel" ></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" slot="start" (click)="newTodo(todotitle.value, todoprice.value, tododescription.value)">Add TODO</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" edge="false" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon routerLink="/menu/gallery/" name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon routerLink="/menu/receipts-test/" name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
