<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="auth.user | async as user; else noUser" >Name: {{ user.displayName }}</ion-title>
    <ng-template #noUser>Logged Out</ng-template>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-button expand="full" color="danger" slot="start" (click)="auth.signOut()" > logout</ion-button>
  </section>
  <section>
    <ion-button expand="full" color="danger" slot="start" > Delete All Pictures</ion-button>
  </section>

<!-- fab -->

  <ion-fab vertical="bottom" horizontal="end" edge="false" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon routerLink="/menu/gallery/" name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon routerLink="/menu/receipts-test/" name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
