<ion-split-pane contentId="my-content">
  <ion-menu contentId="my-content" content="menu" class="menu_main" side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active-item">
            {{p.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="my-content" main></ion-router-outlet>

</ion-split-pane>
