<ion-split-pane contentId="my-content">
  <ion-menu contentId="my-content" content="menu" class="menu_main" side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Expenses Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root">
            <ion-icon [name]="p.icon" routerLinkActive="active-item" slot="start"></ion-icon>
            {{p.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer *ngIf="auth.user | async as user; else showLogin">
      <ion-toolbar>
        <ion-menu-toggle auto-hide="false">
          <ion-item horizontal="end" routerLink="/menu/profile/">
            <ion-icon name="person" routerLinkActive="active-item" slot="start"></ion-icon>
            Hello {{ user.displayName }}
          </ion-item>
      </ion-menu-toggle>
      </ion-toolbar>
    </ion-footer>
    <ng-template #showLogin>
      <ion-toolbar>
        <ion-menu-toggle auto-hide="false">
          <ion-item horizontal="end" routerLink="/menu/login/">
            <ion-icon name="person" routerLinkActive="active-item" slot="start"></ion-icon>
            Login
          </ion-item>
      </ion-menu-toggle>
      </ion-toolbar>
    </ng-template>

  </ion-menu>
  <ion-router-outlet id="my-content" main></ion-router-outlet>

</ion-split-pane>


<!-- <ng-template #showLogin>
  <ion-item horizontal="end" routerLink="/menu/login/">
    <ion-icon name="person" routerLinkActive="active-item" slot="start"></ion-icon>
    Login
  </ion-item>
</ng-template> -->