<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>privacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <!-- ion fab -->
  <ion-fab vertical="bottom" horizontal="end" edge="false" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon routerLink="/menu/gallery/" name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon routerLink="/menu/receipts-test/" name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
