<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Total price here -->
<ion-card *ngFor="let cost of photoService.countCost | async">
  <ion-card-header>
    <ion-card-title>Total:  {{cost.totalCost}}</ion-card-title>
    <ion-card-subtitle>Receipt Count: {{ cost.count }}</ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-card *ngIf="photoService.percentage | async as pct">
  <ion-card-title class="ion-text-center">- Uploading image -</ion-card-title>
  <ion-progress-bar [value]="pct"></ion-progress-bar>
</ion-card>
<!-- END -->
  <ion-card *ngFor="let photo of photoService.receipts | async">
    <img [src]="photo.downloadURL"/>
    <ion-card-header>
      <ion-card-subtitle>Picture</ion-card-subtitle>
      <ion-card-title>{{ photo.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{photo.description}}
      <div>
        £{{photo.cost}}
      </div>
    </ion-card-content>
    <ion-card class="welcome-card" *ngIf="photoService.editState && photoService.itemToEdit.id == photo.id">
      <ion-toolbar>
        <!--MENU-->
        <ion-buttons slot="end">
          <ion-button size="small" shape="round" fill="outline" (click)="photoService.clearState(photo)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
          <ion-button size="small" shape="round" fill="outline" [href]="photo.downloadURL" download>
            <ion-icon name="download"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>EDIT ITEM</ion-title>
      </ion-toolbar>
      <ion-card-content>
        <ion-item>
          <ion-label>Title: </ion-label>
          <ion-input ngModel [placeholder]="photoService.itemToEdit.title" #updatedtitle="ngModel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Price: </ion-label>
          <ion-input ngModel type="number"  [placeholder]="photoService.itemToEdit.cost" #updatedcost="ngModel"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="photoService.updateItem(photo, updatedtitle.value, updatedcost.value)">Update Item</ion-button>
        <ion-button expand="block"(click)="photoService.removePic(photo)" color="danger"> Delete picture</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="photoService.editItem(photo)" color="secondary"> Edit Item</ion-button>
  </ion-card>
  
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="photoService.takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" edge="false" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon routerLink="/menu/gallery/" name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon routerLink="/menu/receipts-test/" name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>