<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Expenses logging
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- {{ afAuth.auth.currentUser.displayName }} -->
<ion-content>
  <ion-card class="welcome-card" *ngIf="auth.user | async as user;">
    <img src="https://www.callcentrehelper.com/images/stories/2018/11/welcome-red-sign-760.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>You are now logged in</ion-card-subtitle>
      <ion-card-title>Welcome {{ user.displayName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now you are logged in, you can take pictures of receipts and store them. to take a picture, press the menu icon on the left and press the gallery button, or press the button in the bottom right to show some quick nav options </p>
    </ion-card-content>
  </ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to your Expenses app</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>To get started press the make your way to the camera tab via the menu on the left. You can also locate this using the floating plus icon in the bottom right or via the quick start camera button below. </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item routerLink="/menu/camera/">
        <ion-icon slot="start" color="medium" name="camera"></ion-icon>
        <ion-label>Camera</ion-label>
      </ion-item>
    </ion-list>


    <ion-fab vertical="bottom" horizontal="end" edge="false" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="light">
          <ion-icon routerLink="/menu/camera" name="camera"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon routerLink="/menu/receipts" name="list"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>